@import "tailwindcss";

@theme inline {
  --color-primary: #e9590c;
  --color-background-light: #f8f6f5;
  --color-background-dark: #221610;
}

body {
  font-family: 'Inter', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}